/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Nunito:wght@400;500;700&family=Oswald:wght@400;500;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
/* 

/* @layer base {
   li {
    @apply px-4;
    @apply cursor-pointer;
   }
} */

/* 
@layer{
    body {
        color:white;
    }
} */

/* Bien doi mau */

/* @layer{
    body{
        @apply text-whiteColor bg-primaryColor tracking-wider font-dmsans
    }
} */